/* layout */
html, body {
    height: 100%;
}
body {
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    outline: none;
}
.wrapper {
    position: relative;
    height: 100%;
    max-width: 1440px;
    padding: 30px 0 50px 200px;
}
.home .wrapper {
    max-width: none;
    padding-left: 0;
    padding-bottom: 0;
}
h2.logo {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 17px;
    line-height: 22px;
    font-style: none;
    z-index: 1000;
    text-align: left;

    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
h2.logo .sublogo {
    font-size: 14px;
}
h2.logo > a {
    color: #000;
    background-color: rgba(255, 255, 255, .5);
}

.nav {
    position: fixed;
    left: 40px;
    top: 200px;
    z-index: 1000;
}
/*.home .nav {
    opacity: 0;

    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.home .nav.show {
    opacity: 1;
}*/
.nav > a {
    display: inline-block;
    position: relative;
    left: -5px;
    top: -10px;

    background: rgba(255, 255, 255, .5);
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 9px;
}
.nav > ul {
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    padding: 40px;
    background: white;

    opacity: 0;

    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.nav.bottom > ul,
.nav > ul:hover,
.nav > a:hover + ul {
    left: 0;
    opacity: 1;

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.nav a:hover,
.footer a:hover {
    text-decoration: underline;
}
.nav li:before,
.footer li:before {
    content: none;
}
.nav ul {
    max-width: none;
}
.nav ul > li,
.footer ul > li {
    margin-left: 0;
}
.nav ul > li,
.footer ul > li {
    float: left;
    display: inline-block;
    width: 20%;
    line-height: 24px;
}
.nav ul > li > a,
.footer ul > li > a {
    display: inline-block;
}
.nav ul > li > ul > li > a {
    line-height: 18px;
}
.nav ul > li > ul + a,
.footer ul > li > ul + a {
    margin-top: 30px;
}
.nav h2, .footer h2 {
    font-size: 30px;
    margin-bottom: 30px;
}
.nav > ul > li > a,
.footer > ul > li > a {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}
.nav > ul > li > a.about,
.footer > ul > li > a.about {
    margin-bottom: 10px;
}
.nav ul > li li,
.footer ul > li li {
    float: none;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
}

a.arrow-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    padding: 13px;

    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}
a.arrow-down img {
    width: 100%;
    height: auto;
    position: relative;
    top: 3px;

    pointer-events: none;
}

.toc {
    position: fixed;
    left: 45px;
    top: 240px;
    z-index: 750;
    text-align: left;

	opacity: 0;

	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
.toc.show {
	opacity: 1;
}
.toc li:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
}
.toc li {
    position: relative;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    margin-bottom: 20px;
    padding-right: 5px;
}
.toc li a {
    color: rgba(255, 255, 255, 0.75);
    background: rgba(0, 0, 0, 0.5);
    padding: 0 7px;
    opacity: 0;
}
/*.toc:hover li.active:before {
    display: none;
}
.toc:hover li.active a {
    opacity: 1;
    position: relative;
    top: -9px;
}*/
.toc li a:hover {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.9);
}
.toc li.active a {
    color: #181818;
    background: rgba(255, 255, 255, 0.9);
}
.toc li.active:before {
    opacity: 1;
    background: #fff;
    border: 1px solid black;
}

.lang {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1000;
}
.lang li:before {
    content: none;
}
.lang li > a {
    display: inline-block;
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #000;
    opacity: 0.5;
}
.lang li:hover > a {
    opacity: 1;
}
.lang li.active > a {
    color: #000;
    background-color: #fff;
    opacity: 1;
}

/* home */
.section {
    position: relative;
    width: 100%;
    /* min-height: 100%; */
    padding: 80px 0 80px 200px;

    background-size: cover;
    background-position: center;
}
.section.video {
    padding: 0 0 0 200px;
}
.section.video {
    min-height: 100%;
    height: auto;
}
.section.full-height {
    min-height: 90%;
    height: auto;
}
.introduction {
    position: relative;
}
.quotes h2:first-child {
    margin-left: 100px;
}
.quotes h2:nth-child(2) {
    margin-left: 400px;
}
img.phonepiece {
    position: absolute;
    transform: rotate(12deg);
    top: 100px;
    z-index: -1;
    height: 500px;
    left: 20%;

    -webkit-transition: 20s;
    -o-transition: 20s;
    transition: 20s;
}
img.phonepiece.move {
    transform: rotate(87deg);
    top: 400px;
    height: 1300px;
    right: 50%;
}
.section h2, .section h3, .section h4, .section p {
    max-width: 1100px;
}

/* header */
.header {
    background: grey;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    z-index: 1000;
    pointer-events: none;

    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.header.hide {
    opacity: 0;
}
.home h1 {
    max-width: 1200px;
    opacity: 0;
    -webkit-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%) rotate(-5deg);
    -ms-transform: translateY(-50%) rotate(-5deg);
    transform: translateY(-50%) rotate(-5deg);
    left: 200px;
}
.home h1.show {
    opacity: 1;
}
.header p {
    padding-left: 125px;
    padding-right: 125px;
}
.header p span, .home h3 span {
    background: black;
    color: white;
    box-shadow: 8px 0px 0 black, -2px 0 0 black;
    padding: 0 0 4px;
}
.home h3.headline {
    position: absolute;
    top: auto;
    left: 40px;
    bottom: 40px;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.home h3.headline span {
    padding: 0;
}
.home h4.section-title {
    position: absolute;
    top: 40px;
    right: 40px;
    transform: rotate(-5deg);
}
.article {
    padding-bottom: 50px;
}
.article-main {
    height: 100%;
    /* width: 800px;
    padding-right: 100px; */
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 800px;
}
ul > li {
    position: relative;
    margin-left: 5px;
}
ul > li:before {
    content: '\2014';
    position: relative;
    left: -5px;
}
ol {
    padding-left: 0;
    list-style-position: inside;
    margin-top: 0;
    margin-bottom: 30px;
}

/* shy image */
.shy-image {
    width: 100%;
    height: 1px;
    position: relative;
}
.shy-image div {
    position: absolute;
    display: inline-block;

    max-width: 500px;

    right: 180px;
    top: -5px;

    z-index: -500;
    pointer-events: none;
    opacity: 0.25;
    transition: opacity 0.25s;
}
.shy-image img {
    width: 100%;
    height: auto;
}
.shy-image p {
    display: inline-block;
    background-color: rgba(255, 255, 255, 1);
}
.shy-image.not-so-shy-anymore div {
    z-index: 1000;
    opacity: 1;
}

/* scroll animations */
[data-scroll] {
    position: relative;
}
[data-scroll="soft"] {
    top: 0;
    opacity: 1;
    transition: .25s;
}
[data-scroll="soft"].no {
    top: 150px;
    opacity: 0;
}
[data-scroll="super-soft"] {
    top: 0;
    opacity: 1;
    transition: .25s;
}
[data-scroll="super-soft"].no {
    top: 50px;
    opacity: 0;
}
[data-scroll="super-soft-right"] {
    transform: translateX(0);
    transition: 1.25s;
}
[data-scroll="super-soft-right"].no {
    transform: translatex(100px);
}

/* popup */
.popup-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    min-height: 850px;
    margin-bottom: 50px;
}
.popup-buttons {
    width: 100%;
    /* padding: 40px 0 0 130px; */
}
.popup-button {
    position: absolute;
    display: inline-block;
    padding: 0px 10px 10px 0px;
    text-align: left;
    font-size: 30px;
    line-height: 34px;
}
.popup-button span {
    background: #181818;
    color: #fff;

    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}
.popup-button span:last-child {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
}
.popup-button:hover span:first-child {
    opacity: 0;
}
.popup-button:hover span:last-child {
    opacity: 1;
}

.popup {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -70%;
    height: 100%;
    width: 70%;
    background: rgba(255, 255, 255, 0.95);
    border-top: 1px solid #181818;
    border-left: 1px solid #181818;
    border-bottom: 1px solid #181818;

    padding-top: 20px;
    overflow-y: auto;

    z-index: 10000;

    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.popup.intro {
    right: -70%;
    width: 50%;
    background: rgba(255, 255, 255, 0.9);
}
.popup.open {
    position: fixed;
    opacity: 1;
    right: 0;
}
.popup > div {
    padding: 0 20px;
}
.popup > div.gallery-wrapper {
    padding: 40px 0;
}
.popup > div:not(.pdf-wrapper) + div.pdf-wrapper{
    border-top: 1px solid #181818;
}
.popup > div.pdf-wrapper {
    padding: 20px;
    border-bottom: 1px solid #181818;
}
.popup h3 {
    position: static;
    transform: none;
    margin-bottom: 20px;
}
.popup h4 {
    max-width: 650px;
}
.popup a {
    text-decoration: underline;
}
.popup img {
    width: 100%;
}
.article .popup p {
    max-width: 650px;
}
.close-button {
    position: absolute;
    top: 15px;
    right: 20px;

    width: 30px;
    height: 30px;

    border: none !important;

    transition: .25s;
    cursor: pointer;
}
.close-button:before,
.close-button:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 15px;
    width: 30px;
    height: 1px;
    border-bottom: 1px solid black;
}
.close-button:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-button:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* popup gallery */
.gallery-wrapper {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}
.gallery {

}
.gallery img {
    position: relative;
    float: left;
    height: 500px;
    width: auto;
}
.gallery-caption {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 30%;
    opacity: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 1);

    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;

    pointer-events: none;
}
.gallery-caption.show {
    opacity: 1;
}
.gallery-caption p {
    color: white;
    transform: rotate(-5deg);
    font-style: italic;
    font-size: 24px;
}
a[data-skip] {
    width: 120px;
    display: inline-block;
    float: right;
    margin-right: 20px;
}

/* photoloop */
.photoloop-wrapper {
    max-width: 800px;
}
.popup > div.photoloop-wrapper {
    position: relative;
    max-width: none;
    padding: 0;
}
.photoloop {
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}
.photoloop > img {
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;

    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.photoloop > img:first-child {
    position: static;
}
.photoloop > img.show {
    opacity: 1;
}
.loopcount {
	text-align: right;
    font-size: 40px;
    transform: rotate(-5deg);
    position: relative;
    top: 40px;
    right: 30px;
	margin-bottom: 20px;
}


/* mess */
.mess {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 800px;
}
.mess > * {
    position: absolute;
}
.mess > *:hover {
    z-index: 100;
}
.mess > *:nth-child(2) {
    left: 100px;
    top: -25px;
}
.mess > *:nth-child(3) {
    left: 450px;
    top: 175px;
}
.mess > *:nth-child(4) {
    left: 150px;
    top: 75px;
}
.mess-lead span {
    background: white;
    color: black;
    box-shadow: 5px 0 0 white, -5px 0 0 white;
}
.mess-quote {
    max-width: 120% !important;
    transform: rotate(-5deg);
    pointer-events: none;
}


/* audio */
.audioplayer {
    position: relative;
    height: 90px;
    width: 100%;
    border: 1px solid #181818;
    cursor: pointer;
    max-width: 600px;
}
.playbutton {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #181818;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    margin-left: -20px;
}
.photoloop-wrapper .playbutton {
    pointer-events: none;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);

    z-index: 1000;
}
.playbutton.hide {
    border-color: transparent;
}
.playbutton.hide:before,
.playbutton.hide:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -15px;
    width: 10px;
    height: 30px;
    background: #fff;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}
.playbutton.hide:before {
    left: -30px;
}
.playbutton.hide:after {
    left: -10px;
}
.audioplayer .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #181818;

    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}
.audioplayer .playtime {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


.photoloop-wrapper, .gallery-wrapper, .audioplayer {
    margin-bottom: 10px;
}


/* footer */
.section.final-quote {
    padding: 40px;
    color: #fff;
    background: #181818;
}
.footer {
    padding: 40px;
}
.footer:after {
    display: block;
    content: '';
    clear: both;
}
.section.final-quote p {
    margin-bottom: 10px;
}
.footer p, .section.final-quote p {
    font-size: 17px;
    line-height: 24px;
}
.footer p.caption, .impressum p.caption, .section.final-quote p.caption {
    font-size: 14px;
    line-height: 22px;
}
.impressum {
    clear: both;
    background: #181818;
    color: #fff;
    padding: 10px 40px;
}
.footer, .footer .fp-tableCell,
.impressum, .impressum .fp-tableCell {
    height: auto !important;
}

/* typo */
body {
    font-family: 'Relative Faux', sans-serif;
    color: #000000;
}
i {
    font-family: 'Relative Book';
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: 300;
    max-width: 800px;
}
.article h1 {
    margin-bottom: 70px;
}
h1, .h1, .title, .mess-quote {
    font-size: 80px;
    line-height: 83px;
}
.super-quote {
	font-size: 40px;
	line-height: 45px;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
.super-quote .caption {
    font-size: 17px;
}
.introduction h2 {
    font-size: 30px;
    line-height: 35px;
    margin-top: 30px;
    margin-bottom: 80px;
    max-width: 800px;
}
h3 {
    font-size: 28px;
    position: relative;
    top: -30px;
    margin-bottom: 40px;
    transform: rotate(-5deg);
}
.home h3 {
    top: 0;
    transform: rotate(0);
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 38px;
}
.introduction h3 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
    max-width: 800px;
}
h4 {
    display: inline-block;
    margin-top: 10px;
    padding-bottom: 5px;
    font-weight: 300;
    margin-bottom: 4px;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
}
.home h4 {
    line-height: 34px;
}
p, ul, ol {
    font-size: 17px;
    line-height: 24px;
}
.home p, .article p, .article ul {
    max-width: 800px;
    margin-bottom: 30px;
}
.home p {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 80px;
}
.introduction p {
    margin-bottom: 40px;
    max-width: 800px;
}
.introduction p.caption {
    font-size: 13px;
    line-height: 18px;
}
.section p.quote {
    position: absolute;
    max-width: 800px;
    left: 300px;
    bottom: -160px;
    font-size: 60px;
    line-height: 66px;
}
.introduction h2 span,
.introduction p span {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 8px 0px 0 rgba(255, 255, 255, 0.75), -2px 0 0 rgba(255, 255, 255, 0.75);
}
.introduction.text-bottom-left p {
    position: absolute;
    left: 80px;
    bottom: 100px;
    max-width: 800px;
    text-align: left;
}
.introduction.text-bottom-center p {
    position: absolute;
    left: 40%;
    bottom: 100px;
    max-width: 860px;
    text-align: left;
}
.introduction.text-center-left p {
    position: absolute;
    left: 80px;
    top: 40%;
    max-width: 800px;
    text-align: left;
    transform: translateY(-50%);
}

.impressum p {
    margin-bottom: 0;
}
.pull-quote {
    font-family: 'Relative Book', sans-serif;
    transform: rotate(-3deg);
    font-style: italic;
    font-size: 30px;
    line-height: 38px;
}
.pull-quote-large {
    font-size: 80px;
    line-height: 88px;
}
.caption {
    font-size: 13px;
    line-height: 18px;
}
.blacked {
    display: inline-block;
    background-color: #181818 !important;
    padding: 0 6px 0 2px;
    color: #fff;
}
.vimeo {
	margin-bottom: 30px;
}
.popup .vimeo {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.popup .vimeo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video {
    height: 100%;
}
.video video {
    min-height: 100%;
    min-width: auto;
}
.introduction.video video {
    width: 100%;
    height: auto;
}
.popup .video video {
    max-width: 100%;
    height: auto;
}
.video-background {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
}
.video-background video {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    min-width: 100%;
    min-height: 100%;
}
/* .vimeo embed, .vimeo iframe, .vimeo object, .vimeo video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
} */

a, a:hover, a:visited, a:active {
    color: #181818;
    text-decoration: none;
}
.article-main a {
    text-decoration: underline;
}

a.pdf, .article-main a.pdf {
    display: inline-block;
    padding: 10px;
    background-color: #181818;
    color: #ffffff;
    text-decoration: none;
}
a.pdf:hover {
    background-color: #ffffff;
    color: #181818;
}
button[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px solid #181818;
    background: none;
}

/* objects */
.object {
    display: none;
    position: absolute;
    z-index: 100;
}
.object-1 {
    bottom: 100px;
    left: 1040px;
}
.object-2 {
    left: 400px;
    bottom: -100px;
}
.object-3 {
    left: 1100px;
    bottom: -30px;
}
.object-4 {
    left: 260px;
    bottom: 150px;
}
.object img {
    position: absolute;
    top: 0;
    left: 0;
}
.object-1 img.background {
    top: -40px;
}
.object-2 img.background {
    left: -100px;
    top: 40px;
}
.object-4 img.background {
    left: -50px;
    top: 50px;
}

/* fondling */
a.fondle {
    position: relative;
    text-decoration: none;
}
a.fondle:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #181818;
    pointer-events: none;
}
a.fondle:hover:after {
    height: 5px;
    bottom: -5px;
}


/* helper */

.nopadding {
    padding: 0 !important;
}
.nomargin {
    margin: 0 !important;
}

/* warning */
@media (max-width: 768px){
    /*.wrapper.warning:before {
        content: 'Bitte geniessen Sie die Smartphone Objektbiografie an einem grösseren Bildschirm.';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 0, 0, 0.5);
        color: white;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        font-size: 40px;
        font-weight: 400;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        z-index: 1000000;
    }*/
}

@media (max-width: 480px){

    /* home */
    .home .wrapper {
        height: auto;
        padding-right: 0;
        overflow-x: hidden;
    }
    .section {
        padding: 20px;
    }
    .section.offset-top {
        margin-top: 0;
    }
    .section.video, .section.full-height {
        min-height: 0;
    }
    .video-background,
    .video-background video {
        position: static;
    }
    .video {
        height: auto;
    }
    .video video {
        width: 100%;
        min-height: auto;
    }
    .home h2.objectbiography {
        position: static;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 20px;

        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    .home h1 {
        position: static;
        color: #181818;
        font-size: 40px;
        line-height: 45px;
        margin: 20px;

        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    .introduction h2 {
        font-size: 26px;
        line-height: 36px;
    }
    h2.h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .introduction h3 {
        margin-left: 0;
        font-size: 40px;
        line-height: 50px;
    }
    .quotes h2:first-child {
        margin-left: 0;
    }
    .quotes h2:nth-child(2) {
        margin-left: 0;
    }
    .home p {
        font-size: 26px;
        line-height: 30px;
    }
    .section p.quote {
        position: static;
        font-size: 36px;
        line-height: 46px;
        margin-left: 20px;
    }
    .introduction.text-center-left p,
    .introduction.text-bottom-left p,
    .introduction.text-bottom-center p{
        position: static;
    }
    .introduction.text-center-left p {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .object {
        display: none;
    }

    /* content */
    h1, .h1, .title, .mess-quote {
        font-size: 70px;
    }
    .article-main h1 {
        margin-top: 30px;
    }
    h2.objectbiography {
        position: static;
        margin-top: 10px;
    }
    .nav {
        left: auto;
        right: 20px;
        top: 20px;
    }
    .nav ul > li, .footer ul > li {
        width: 50%;
    }
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
    .popup-buttons > img {
        position: absolute;
        z-index: -10;
    }
    .popup-button {
        position: static;
        display: block;
        margin-bottom: 10px;
    }
    .popup {
        width: 100%;
        right: -100%;
    }
    .popup.open {
        z-index: 1000;
    }

    /* nav */
    .home .nav, .nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
    }
    .nav h2, .footer h2 {
        margin-bottom: 0;
    }
    .nav > a {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .nav > ul {
        position: absolute;
        padding: 20px;
        left: 0;
        top: 0;
        width: 100%;
    }
    .nav ul > li li, .footer ul > li li {
        font-size: 16px;
        line-height: 18px;
    }
    .nav > ul > li > a, .footer > ul > li > a {
        margin-bottom: 10px;
        margin-top: 20px;
    }
}
