/* layout */
html, body {
    height: 100%;
}
body {
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    outline: none;
}
.wrapper {
    position: relative;
    height: 100%;
    max-width: 1440px;
    /* margin: 0 auto; */
    padding-left: 100px;
    padding-bottom: 50px;
}
.home .wrapper {
    max-width: none;
    padding-left: 0;
    padding-bottom: 0;
}
h2.objectbiography {
    position: fixed;
    top: 30px;
    left: 20px;
    font-size: 17px;
    line-height: 22px;
    font-style: none;
    z-index: 1000;
    text-align: left;
}
.home h2.objectbiography {
    position: fixed;
    left: auto;
    right: 30px;
    text-align: right;
}
h2.objectbiography > a {
    background: black;
    box-shadow: 5px 0 0 black, -5px 0 0 black;
    color: white;
}
.nav {
    position: fixed;
    left: 30px;
    top: 150px;
    z-index: 1000;
}
.home .nav {
    left: auto;
    right: 30px;
}
.nav > a {
    display: inline-block;
    padding-bottom: 10px;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    transition-delay: 2s;
}
.nav > a:hover {
    transform: rotate(-10deg);
    transition-delay: 0s;
}
.nav > ul {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 40px;
    background: white;

    -webkit-transform:  translateY(-100%);
    -ms-transform:  translateY(-100%);
    transform:  translateY(-100%);
}
.nav > ul:hover,
.nav > a:hover + ul {
    -webkit-transform:  translateY(0);
    -ms-transform:  translateY(0);
    transform:  translateY(0);

    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
.nav > a > img {
    width: 40px;
    height: auto;
}

.nav a:hover,
.footer a:hover {
    text-decoration: underline;
}
.nav li:before,
.footer li:before {
    content: none;
}
.nav ul > li,
.footer ul > li {
    margin-left: 0;
}
.nav ul > li,
.footer ul > li {
    float: left;
    display: inline-block;
    width: 20%;
    line-height: 24px;
}
.nav ul > li > a,
.footer ul > li > a {
    display: inline-block;
    margin-bottom: 10px;
}
.nav ul > li > ul + a,
.footer ul > li > ul + a {
    margin-top: 30px;
}
.nav h2, .footer h2 {
    font-size: 30px;
    margin-bottom: 30px;
}
.nav > ul > li > a,
.footer > ul > li > a {
    display: block;
    margin-bottom: 30px;
    font-size: 24px;
}
.nav > ul > li > a.about,
.footer > ul > li > a.about {
    margin-bottom: 10px;
}
.nav ul > li li,
.footer ul > li li {
    float: none;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
}

.toc {
    position: fixed;
    right: 30px;
    top: 220px;
    z-index: 750;
    text-align: right;

	opacity: 0;

	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
.toc.show {
	opacity: 1;
}
.toc li:before {
    content: none;
}
.toc li {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    margin-bottom: 20px;
    padding-right: 5px;
}
.toc li a {
    color: rgba(255, 255, 255, 0.75);
    background: rgba(0, 0, 0, 0.5);
    padding: 0 7px;
}
.toc li a:hover {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.9);
}
.toc li.active a {
    color: #181818;
    background: rgba(255, 255, 255, 0.9);
}

/* home */
.section {
    position: relative;
    width: 100%;
    /* min-height: 100%; */
    padding: 80px;

    background-size: cover;
    background-position: center;
}
.section.video {
    padding: 0;
}
.section.video,
.section.full-height {
    min-height: 100%;
}
.section.align-right {
    text-align: right;
}
.section.offset-top {
    margin-top: -133px;
}
.introduction {
    position: relative;
}
.quotes h2:first-child {
    margin-left: 100px;
}
.quotes h2:nth-child(2) {
    margin-left: 400px;
}
img.phonepiece {
    position: absolute;
    transform: rotate(12deg);
    top: 400px;
    z-index: -1;
    height: 700px;
    right: 200px;

    -webkit-transition: 20s;
    -o-transition: 20s;
    transition: 20s;
}
img.phonepiece.move {
    transform: rotate(87deg);
    top: 1300px;
    height: 1700px;
    right: 330px;
}
.section h2, .section h3, .section h4, .section p {
    max-width: 1100px;
}

/* header */
.header {
    background: grey;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    z-index: 1000;
    pointer-events: none;

    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.header.hide {
    opacity: 0;
}
.header h1 {
    transform: rotate(-5deg);
    margin-bottom: 50px;
}
.home h1 {
    max-width: 1200px;
    opacity: 0;
    -webkit-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%) rotate(-5deg);
    -ms-transform: translateY(-50%) rotate(-5deg);
    transform: translateY(-50%) rotate(-5deg);
    left: 200px;
}
.home h1.show {
    opacity: 1;
}
.article-main h1 {
    margin-top: 100px
}
.header p {
    padding-left: 125px;
    padding-right: 125px;
}
.header p span, h4, .home h3 span {
    background: black;
    color: white;
    box-shadow: 8px 0px 0 black, -2px 0 0 black;
    padding: 0 0 4px;
}
.home h3.headline {
    position: absolute;
    top: auto;
    left: 40px;
    bottom: 40px;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.home h3.headline span {
    padding: 0;
}
.home h4.section-title {
    position: absolute;
    top: 40px;
    right: 40px;
    transform: rotate(-5deg);
}
.article {
    padding-bottom: 50px;
}
.article-main {
    height: 100%;
    /* width: 800px;
    padding-right: 100px; */
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul > li {
    position: relative;
    margin-left: 5px;
}
ul > li:before {
    content: '\2014';
    position: relative;
    left: -5px;
}
ol {
    padding-left: 0;
    list-style-position: inside;
    margin-top: 0;
    margin-bottom: 30px;
}

/* shy image */
.shy-image {
    position: relative;
}
.shy-image img {
    position: absolute;

    right: 180px;
    top: -5px;
    width: 50%;
    height: auto;

    z-index: -500;
    opacity: 0.25;
    pointer-events: none;

    transition: opacity 0.25s;
}
.shy-image.not-so-shy-anymore img {
    z-index: 0;
    opacity: 1;
}

/* scroll animations */
[data-scroll] {
    position: relative;
}
[data-scroll="soft"] {
    top: 0;
    opacity: 1;
    transition: .25s;
}
[data-scroll="soft"].no {
    top: 150px;
    opacity: 0;
}
[data-scroll="super-soft"] {
    top: 0;
    opacity: 1;
    transition: .25s;
}
[data-scroll="super-soft"].no {
    top: 50px;
    opacity: 0;
}
[data-scroll="super-soft-right"] {
    transform: translateX(0);
    transition: 1.25s;
}
[data-scroll="super-soft-right"].no {
    transform: translatex(100px);
}

/* popup */
.popup-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    min-height: 850px;
    margin-bottom: 50px;
}
.popup-buttons {
    width: 100%;
    /* padding: 40px 0 0 130px; */
}
.popup-button {
    position: absolute;
    display: inline-block;
    padding: 0px 10px 10px 0px;
    text-align: left;
    font-size: 30px;
    line-height: 34px;
}
.popup-button span {
    background: #181818;
    color: #fff;
}
.popup-button span:last-child {
    display: none;
}
.popup-button:hover span:first-child {
    display: none;
}
.popup-button:hover span:last-child {
    display: inline;
}

.popup {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -70%;
    height: 100%;
    width: 70%;
    background: white;
    border-top: 1px solid #181818;
    border-left: 1px solid #181818;
    border-bottom: 1px solid #181818;

    padding-top: 20px;
    overflow-y: auto;

    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.popup.intro {
    right: -70%;
    width: 50%;
    background: rgba(255, 255, 255, 0.9);
}
.popup.open {
    opacity: 1;
    right: 0;
}
.popup > div {
    padding: 0 20px;
}
.popup > div.gallery-wrapper {
    padding: 40px 0;
}
.popup > div:not(.pdf-wrapper) + div.pdf-wrapper{
    border-top: 1px solid #181818;
}
.popup > div.pdf-wrapper {
    padding: 40px;
    border-bottom: 1px solid #181818;
}
.popup h3 {
    position: static;
    transform: none;
    margin-bottom: 20px;
}
.popup h4 {
    max-width: 650px;
}
.popup a {
    text-decoration: underline;
}
.popup img {
    width: 100%;
}
.article .popup p {
    max-width: 650px;
}
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 20px;
    height: 20px;
    border-radius: 50%;

    transition: .25s;
    cursor: pointer;

    transform: rotate(0);
}
.close-button:hover {
    background: #181818;
}

/* popup gallery */
.gallery-wrapper {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}
.gallery {

}
.gallery img {
    position: relative;
    float: left;
    height: 500px;
    width: auto;
}
.gallery-caption {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 30%;
    opacity: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 1);

    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;

    pointer-events: none;
}
.gallery-caption.show {
    opacity: 1;
}
.gallery-caption p {
    color: white;
    transform: rotate(-5deg);
    font-style: italic;
    font-size: 24px;
}
a[data-skip] {
    width: 120px;
    display: inline-block;
    float: right;
    margin-right: 20px;
}

/* photoloop */
.photoloop-wrapper {
    max-width: 800px;
}
.popup > div.photoloop-wrapper {
    position: relative;
    max-width: none;
    padding: 0;
}
.photoloop {
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}
.photoloop > img {
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;

    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.photoloop > img:first-child {
    position: static;
}
.photoloop > img.show {
    opacity: 1;
}
.loopcount {
	text-align: right;
    font-size: 40px;
    transform: rotate(-5deg);
    position: relative;
    top: 40px;
    right: 30px;
	margin-bottom: 20px;
}


/* mess */
.mess {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 800px;
}
.mess > * {
    position: absolute;
}
.mess > *:hover {
    z-index: 100;
}
.mess > *:nth-child(2) {
    left: 100px;
    top: -25px;
}
.mess > *:nth-child(3) {
    left: 450px;
    top: 175px;
}
.mess > *:nth-child(4) {
    left: 150px;
    top: 75px;
}
.mess-lead span {
    background: white;
    color: black;
    box-shadow: 5px 0 0 white, -5px 0 0 white;
}
.mess-quote {
    max-width: 120% !important;
    transform: rotate(-5deg);
    pointer-events: none;
}


/* audio */
.audioplayer {
    position: relative;
    height: 140px;
    width: 100%;
    border: 1px solid #181818;
    cursor: pointer;
    max-width: 600px;
}
.playbutton {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent #181818;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    margin-left: -20px;
}
.photoloop-wrapper .playbutton {
    pointer-events: none;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
}
.playbutton.hide {
    display: none;
}
.audioplayer .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #181818;

    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}
.audioplayer .playtime {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


.photoloop-wrapper, .gallery-wrapper, .audioplayer {
    margin-bottom: 10px;
}


/* footer */
.section.final-quote {
    padding: 40px;
    color: #fff;
    background: #181818;
}
.footer {
    padding: 40px;
}
.footer:after {
    display: block;
    content: '';
    clear: both;
}
.section.final-quote p {
    margin-bottom: 10px;
}
.footer p, .section.final-quote p {
    font-size: 20px;
    line-height: 27px;
}
.footer p.caption, .impressum p.caption, .section.final-quote p.caption {
    font-size: 14px;
    line-height: 22px;
}
.impressum {
    clear: both;
    background: #181818;
    color: #fff;
    padding: 10px 40px;
}
.footer, .footer .fp-tableCell,
.impressum, .impressum .fp-tableCell {
    height: auto !important;
}

/* typo */
body {
    font-family: "Relative Book", sans-serif;
    color: #000000;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: 300;
}
h1, .h1, .title, .mess-quote {
    font-size: 80px;
    line-height: 83px;
}
.article h1 {
    margin-top: 114px;
}
h2.h1 {
	font-size: 80px;
	line-height: 90px;
}
.introduction h2 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 40px;
}
.home h2 p.caption {
    font-size: 26px;
    line-height: 30px;
}
h3 {
    font-size: 28px;
    position: relative;
    top: -30px;
    margin-bottom: 40px;
    transform: rotate(-5deg);
}
.home h3 {
    top: 0;
    transform: rotate(0);
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 38px;
}
.introduction h3 {
    font-size: 40px;
    line-height: 45px;
    margin-left: 200px;
    margin-bottom: 80px;
    max-width: 900px;}
h4 {
    display: inline-block;
    margin-top: 10px;
    padding-bottom: 5px;
    font-weight: 300;
    margin-bottom: 4px;
    font-size: 17px;
    line-height: 17px;
    box-shadow: 4px 0px 0 black, -2px 0 0 black;
}
.home h4 {
    line-height: 34px;
}
p, ul, ol {
    font-size: 17px;
    line-height: 24px;
}
.home p, .article p, .article ul {
    max-width: 800px;
    margin-bottom: 30px;
}
.home p {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 80px;
    max-width: 1200px;
}
.introduction p {
    margin-bottom: 40px;
}
.section p.quote {
    position: absolute;
    transform: rotate(-3deg);
    max-width: 800px;
    left: 300px;
    bottom: -160px;
    font-size: 60px;
    line-height: 66px;
}
.introduction h2 span,
.introduction p span {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 8px 0px 0 rgba(255, 255, 255, 0.75), -2px 0 0 rgba(255, 255, 255, 0.75);
}
.introduction.black-label p span {
    color: #fff;
    background: black;
    box-shadow: 8px 0px 0 black, -2px 0 0 black;
}
.introduction.text-bottom-left p {
    position: absolute;
    left: 80px;
    bottom: 100px;
    max-width: 800px;
    text-align: left;
}
.introduction.text-bottom-center p {
    position: absolute;
    left: 40%;
    bottom: 100px;
    max-width: 860px;
    text-align: left;
}
.introduction.text-center-left p {
    position: absolute;
    left: 80px;
    top: 40%;
    max-width: 800px;
    text-align: left;
    transform: translateY(-50%);
}

.impressum p {
    margin-bottom: 0;
}
.introtext, .sis-lead, .mess-lead {
    font-size: 34px;
    line-height: 50px;
}
.pull-quote {
    transform: rotate(-3deg);
    font-style: italic;
    font-size: 30px;
    line-height: 38px;
}
.pull-quote-large {
    font-size: 80px;
    line-height: 88px;
}
.caption {
    font-size: 13px;
    line-height: 18px;
}
.vimeo {
	margin-bottom: 30px;
}
.popup .vimeo {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.popup .vimeo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video {
    height: 100%;
}
.video video {
    min-width: auto;
    min-height: 100%;
}
.popup .video video {
    max-width: 100%;
    height: auto;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-background video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
/* .vimeo embed, .vimeo iframe, .vimeo object, .vimeo video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
} */

a, a:hover, a:visited, a:active {
    color: #181818;
    text-decoration: none;
}
.article-main a {
    text-decoration: underline;
}

a.pdf, .article-main a.pdf {
    display: inline-block;
    padding: 10px;
    background-color: #181818;
    color: #ffffff;
    text-decoration: none;
}
a.pdf:hover {
    background-color: #ffffff;
    color: #181818;
}
button[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px solid #181818;
    background: none;
}

/* objects */
.object {
    position: absolute;
    z-index: 100;
}
.object-1 {
    bottom: 100px;
    left: 1040px;
}
.object-2 {
    left: 400px;
    bottom: -100px;
}
.object-3 {
    left: 1100px;
    bottom: -30px;
}
.object-4 {
    left: 260px;
    bottom: 150px;
}
.object img {
    position: absolute;
    top: 0;
    left: 0;
}
.object-1 img.background {
    top: -40px;
}
.object-2 img.background {
    left: -100px;
    top: 40px;
}
.object-4 img.background {
    left: -50px;
    top: 50px;
}

/* fondling */
a.fondle {
    position: relative;
}
a.fondle:after {
    content: '';
    width: 110%;
    height: 8px;
    position: absolute;
    bottom: 5px;
    left: -5%;

    background-color: #181818;
    transform: rotate(-5deg);

    pointer-events: none;
    opacity: 1;
}
a.fondle:hover:after {
    opacity: 0;
}


/* helper */

.nopadding {
    padding: 0 !important;
}
.nomargin {
    margin: 0 !important;
}

/* warning */
@media (max-width: 768px){
    /*.wrapper.warning:before {
        content: 'Bitte geniessen Sie die Smartphone Objektbiografie an einem grösseren Bildschirm.';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 0, 0, 0.5);
        color: white;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        font-size: 40px;
        font-weight: 400;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        z-index: 1000000;
    }*/
}

@media (max-width: 480px){

    /* home */
    .home .wrapper {
        height: auto;
        padding-right: 0;
        overflow-x: hidden;
    }
    .section {
        padding: 20px;
    }
    .section.offset-top {
        margin-top: 0;
    }
    .section.video, .section.full-height {
        min-height: 0;
    }
    .video-background,
    .video-background video {
        position: static;
    }
    .video {
        height: auto;
    }
    .video video {
        width: 100%;
        min-height: auto;
    }
    .home h2.objectbiography {
        position: static;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 20px;

        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    .home h1 {
        position: static;
        color: #181818;
        font-size: 40px;
        line-height: 45px;
        margin: 20px;

        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    .introduction h2 {
        font-size: 26px;
        line-height: 36px;
    }
    h2.h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .introduction h3 {
        margin-left: 0;
        font-size: 40px;
        line-height: 50px;
    }
    .quotes h2:first-child {
        margin-left: 0;
    }
    .quotes h2:nth-child(2) {
        margin-left: 0;
    }
    .home p {
        font-size: 26px;
        line-height: 30px;
    }
    .section p.quote {
        position: static;
        font-size: 36px;
        line-height: 46px;
        margin-left: 20px;
    }
    .introduction.text-center-left p,
    .introduction.text-bottom-left p,
    .introduction.text-bottom-center p{
        position: static;
    }
    .introduction.text-center-left p {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .object {
        display: none;
    }

    /* content */
    h1, .h1, .title, .mess-quote {
        font-size: 70px;
    }
    .article-main h1 {
        margin-top: 30px;
    }
    h2.objectbiography {
        position: static;
        margin-top: 10px;
    }
    .nav {
        left: auto;
        right: 20px;
        top: 20px;
    }
    .nav ul > li, .footer ul > li {
        width: 50%;
    }
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
    .popup-buttons > img {
        position: absolute;
        z-index: -10;
    }
    .popup-button {
        position: static;
        display: block;
        margin-bottom: 10px;
    }
    .popup {
        width: 100%;
        right: -100%;
    }
    .popup.open {
        z-index: 1000;
    }

    /* nav */
    .home .nav, .nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
    }
    .nav h2, .footer h2 {
        margin-bottom: 0;
    }
    .nav > a {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .nav > ul {
        position: absolute;
        padding: 20px;
        left: 0;
        top: 0;
        width: 100%;
    }
    .nav ul > li li, .footer ul > li li {
        font-size: 16px;
        line-height: 18px;
    }
    .nav ul > li > a, .footer ul > li > a {
        margin-bottom: 5px;
    }
    .nav > ul > li > a, .footer > ul > li > a {
        margin-bottom: 10px;
        margin-top: 20px;
    }
}
